body {/*color de fondo*/
 background-color: #ecdfc1;
 padding: 2%;
}

/*Para que tenga un desplazamiento más sueave*/
html{
    scroll-behavior: smooth;
}

    /*Texto que vaya apareciendo estilos*/

/*Barra*/

 /*Se dan propiedades a la barra donde esta el icono y demas elementos*/
  .barra2{
    background-color:#fff4da;
    width: 100%;
    height: 80px;
    position: fixed;/*Hace qur la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 0%;
    z-index: 1000;
}

/*Propiedades del icono*/
#icono{
    height: 110px;
    margin-left: -2%;
    margin-top: -2%;
}

/*Propiedades del icono de mensajes */
#mensajes2{
    color: #200f06;
    font-size: 400%;
    font-weight: 200;
    transform: translateX(1100px) translateY(20%);
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#mensajes2:hover{
    color: #f8af07;
}

/*Propiedades de la barra donde esta la flecha*/
#barra1{
    background-color: #eddab1;
    width: 100%;
    height: 120px;
    position: fixed;/*Hace que la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 1%;
    z-index: 10;
}

/*Propiedades de la lista que contiene cada elemento de la 2da barra*/
#barra1 ul{
    list-style: none;
}

/*Padding de cada elemento de la lista de la 2da barra*/
#barra1 ul li{
    padding: 3%;
}

/*Creacion del encabezado con imagen de fondo*/

 /* Estilos para el encabezado */
.encabezado{
    background-image: url(ansiedad.img/enca2.jpg);
    background-size: cover;
    background-position-y:70%; 
    height:400px;
    opacity: 95%;
    transform: translateY(2.5%);
    z-index: 100;
    
}

/*Palabra de tdah en adolescentes*/
#palabra{
    font-size: 580%;
    color: beige;
    margin-left: 15%;
    transform: translateY(28%);
    opacity: 100%;
    font-family: "Lexend", sans-serif  ;
    text-shadow: 4px 4px 10px black;
}

.ventanas{
    text-decoration: none;
    display: flex;
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #080808;
    text-align: center;
}

/*comienzo del menu*/

/* Estilo del menú lateral */
.sidebar {
    height: 50%; /* Altura de la pantalla */
    margin-left: -45px;
    width: 0; /* Comienza cerrado (ancho = 0) */
    border-radius: 30px;
    position: fixed; /* Fijo en la pantalla */
    top: 170px; /* Desde arriba */
    background-color:#eddab1 ; /* Color de fondo */
    overflow-x: hidden; /* Sin desplazamiento horizontal */
    transition: 0.5s; /* Transición suave */
    padding-top: 45px; /* Espacio arriba para el botón cerrar */
}

/* Enlaces dentro del menú */
.sidebar a {
    height: 20%;
    text-decoration: none; /* Sin subrayado */
    font-size: 25px; /* Tamaño del texto */
    color: rgb(24, 24, 23); /* Color de texto */
    display: block; /* Cada enlace en una línea */
    margin-top: -5px;
    transition: 0.4s; /* Efecto suave al pasar el ratón */
    margin-left: 20px;
}

/* Efecto hover en los enlaces */
.sidebar a:hover {
    background-color:#c7a660 ; /* Color cuando pasas el ratón */
   
}

/* Botón cerrar */
.sidebar .closebtn {
    position: absolute; /* Posición absoluta dentro de la sidebar */
    top: 5px; /* A 10px desde arriba */
    right: 20px; /* A 20px desde la derecha */
    font-size: 35px; /* Tamaño del texto */
    color: #111111;
    cursor: pointer; /* Cursor en forma de mano */
}

/* Botón para abrir el menú */
.abrirbtn {
    font-size: 70px; /* Tamaño del texto */
    cursor: pointer; /* Cursor en forma de mano */
    position: fixed; /* Fijo en la pantalla */
    top: 50%; /* 20px desde arriba */
    left: 3px; /* 3px desde la izquierda */
    background-color: #eddab1  ; /* Color de fondo */
    padding: 5px 10px; /* Relleno interno */
    border-radius: 10%; /* Bordes redondeados */
    transition: 0.3s; /* Transición suave */
    height: 18%;
    width: 5%;
    border-radius: 33px;
    margin-left: -26px;

}


/* Efecto hover en el botón de abrir */
.openbtn:hover {
    background-color:#c7a660 ; /* Color al pasar el ratón */

}
/*fin del menu*/

#descripcion{/*Tamaño de mi texto*/
    font-size: 230%;
    margin-left: 5%;/*separacion del texto de lado derecho*/
}

#sintomas{/*Tamaño de mi texto*/
    font-size: 230%;
    margin-left: 5%;/*separacion del texto de lado derecho*/
}

#causas{/*Tamaño de mi texto*/
    font-size: 230%;
    margin-left: 5%;/*separacion del texto de lado derecho*/

}

.containerA{
    background-color:#FEFAF8 ;
    width: 100%;/*largor del container (que abarque todo el largo de la pantalla)*/
    padding: 0.01%;
    border-radius: 15px;
    margin-top: 8%;
    height: 80px;
    font-family: "Lexend", sans-serif;;
}

.containerB{
    background-color:#FEFAF8 ;
    width: 100%;/*largor del container (que abarque todo el largo de la pantalla)*/
    padding: 0.01%;
    border-radius: 15px;
    margin-top: 8%;
    height: 80px;
    font-family: "Lexend", sans-serif;;
}

.containerC{
    background-color:#FEFAF8 ;
    width: 100%;/*largor del container (que abarque todo el largo de la pantalla)*/
    padding: 0.01%;
    border-radius: 15px;
    margin-top: 8%;
    height: 80px;
    font-family:"Lexend", sans-serif; ;
}

.container1{/*El espacio de la pantalla sobre mi parrafo*/
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 0%;  
    background-color:#f4f6f7  ;/*color de mi container */
    padding: 50px;
    height: 417px;
    align-items: flex-start;/*Alinea verticalmente ambos*/
    display: flex;

}

.imagen-ansiedad{/*ajustes de la imagen*/
    width: 300%;
    margin-top: -90px;
    margin-right: 20px;
    border-radius: 70px;
}

.texto-ansiedad p {/*Ajustes del texto */
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    margin-top: 20px;
    line-height: 1.6;/*ajusta la altura de las lineas para mejorar la legibilidad*/
}

.container2{/*El espacio de la pantalla sobre mi parrafo*/
    font-size: 20%;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 0%;
    background-color: #FBFAF8;/*color de mi container */
    padding: 0.10%;
    height: 500px;
    align-items: flex-start;/*Alinea arriba*/
    display: flex;/*alinea los elementos hijos en fila (horizontal) */
    justify-content: space-between;/*espacio entre texto e imagenes */
}

.texto-ansiedad2 {/*Ajustes del texto */
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    margin-top: 2%;
    margin-left: 50px;
    line-height: 1.6;/*ajusta la altura de las lineas para mejorar la legibilidad*/
    flex: 1;/*ocupa todo el espacio disponible ala izquierda */
    padding-right: 20px;/*espacio entre el texto y las imagenes*/
}

.imagenes{
    margin-top: 5%;
    width: 200px;
    margin-right: 400px;
}

.container3{/*El espacio de la pantalla sobre mi parrafo*/
    font-size: 20%;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 0%;
    background-color: #f4f6f7 ;/*color de mi container */
    padding: 50px;
    height: 500px;
    align-items: flex-start;/*Alinea verticalmente ambos*/
    display: flex;
    
}

.imagen-ansiedad3{/*Ajustes de la imagen*/
    width: 50%;
    margin-top: 20px;
    margin-left: 15px;
}

.texto-ansiedad3 p {/*Ajustes del texto*/
    font-family: "DM Sans", sans-serif;
    font-size: 38px;
    margin-top: 80px;
    line-height: 1.6;/*ajusta la altura de las lineas para mejorar la legibilidad*/
    margin-left: 10px;
}

.text{
    margin-top: 10%;
    margin-left: 28%;
    font-size: 60px;
    font-family:"Lexend", sans-serif; 
    text-shadow: 4px 4px 10px black;
}

/* Contenedor que alinea las tarjetas en fila y permite que se ajusten automáticamente */
.cards-container {
    display: flex; /* Organiza en fila */
    gap: 70px; /* Espacio entre tarjetas */
    margin-top: 20px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que bajen si no caben */
  }
  
  /* Estilo base de cada tarjeta */
  .card {
    background: #FFFFCC ; /* Fondo*/
    width: 350px; /* Ancho fijo */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta lo que se salga del borde */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra suave */
    transition: transform 0.3s ease;       /* Transición para el efecto hover */
    cursor: pointer; /* Cambia el cursor al pasar encima */
  }
  
  /* Aumenta ligeramente el tamaño al pasar el mouse */
  .card:hover {
    transform: scale(1.08); /* Agranda un poco la tarjeta */
  }
  
  /* Imagen dentro de la tarjeta */
  .card img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene proporciones */
    display: block; /* Quita espacios fantasma */
  }
  
  /* Contenido oculto inicialmente */
  .card-content {
    padding: 15px; /* Espacio interno */
    display: none; /* Oculto por defecto */
  }
  
  /* Muestra el contenido al pasar el mouse sobre la tarjeta */
  .card:hover .card-content {
    display: block; /* Hace visible el contenido */
  }
  
  /* Estilo del título dentro de la tarjeta */
  .card-title {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-size: 30px; /*tamaño del titulo*/
  }

  /*PIE PAGINA*/
  
  #pie {/*Propiedades del footer*/
    background-color: #F1Eada;
    height: 400px;
    width: 107%;
    margin-top: 6%;
    margin-left: -4%;
}


#pieFrase{/*Propiedades de la palabra "Amor de padres" en el footer*/
    font-size: 190%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 450;
    text-align: left;
    transform: translateY(90%);
    margin-left: 6%;
}

#pieparra{
    font-size: 120%;
    font-family: "DM Sans", sans-serif;
    text-align:left;
    justify-content: center;
    margin-left: 6%;
    margin-top: -8%;
    opacity: 70%;
    font-weight: 300;
    width: 25%;
}

#seguir{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

#servicio{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

#redess{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

.p1{
    font-size: 120%;
    opacity: 80%;
    font-family:"DM Sans", sans-serif;
    font-weight: 400;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

.p1:hover{
    color: #d69601;
}

#p2{
    color: #0a0808;
    text-decoration: none;
}

#p2:hover{
    color: #d69601;
}

/* agrega el estilo al segundo pie de cabeza*/
#parte5{
    background-color: #cec1a8;
    height: 20%;
    margin-top: 10%;
}

/*Agrega los iconos de facebook y bitacora*/
#lista4{
   display: flex;
   list-style: none;
   margin-left: 80%;
}

/*icono de la bitacora*/
#bitacora{
    height: 75%;
    opacity: 60%;
    margin-top: 15%;
    margin-left: 25%;
}

/*Icono facebook*/
#facebook{
    height: 70%;
    margin-top: 40%;
    opacity: 60%;
}

#insta{
    margin-top: 20%;
    height: 90%;
    opacity: 60%;
}


.Copyright{/*Agrega el copyright en el footer*/
    font-size: 130%;
    opacity: 50%;
    font-family:"Lexend", sans-serif;
    font-weight: 300;
    margin-left: 681px;
    margin-top: 10%;
}

