body{
    padding: 2%;
}
/*Para que tenga un desplazamiento más sueave*/
html{
    scroll-behavior: smooth;
}

    /*Texto que vaya apareciendo estilos*/

#content {
    background: white;
    /* Fondo blanco para resaltar el contenido */
  
    border-radius: 8px;
    /* Bordes redondeados para suavizar la caja */
  
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  /* Inicialmente están ocultos y desplazados hacia abajo */
  #content p {
    opacity: 0;
    /* Transparencia total, párrafos invisibles inicialmente */
  
    transform: translateY(30px);
    /* Desplaza los párrafos 30px hacia abajo */
  
    transition: 
      opacity 0.6s cubic-bezier(.4,0,.2,1),
      transform 0.6s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */
  
    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
    /* Margen inferior para separar los párrafos */
  }
  
  /* Estilos para párrafos que tienen la clase 'visible' */
  /* Aquí están completamente visibles y en posición original */
  #content p.visible {
    opacity: 1;
    /* Opacidad total, párrafo visible */
  
    transform: translateY(10);
    /* Sin desplazamiento vertical, posición natural */
  }



/*Propiedades de la barra donde esta la flecha*/

#barra1{
    background-color: #eddab1;
    width: 100%;
    height: 120px;
    position: fixed;/*Hace que la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 1%;
    z-index: 10;
}

#barra1 ul{
    list-style: none;
}

#barra1 ul li{
    padding: 3%;
}
.controls{
    transform: translateX(1150%);
    margin-top: 0.8%;
}

/* Estilo general de los botones */
button {
    padding: 1px; /* Espaciado interno para hacerlos más grandes */
    margin: 2px; /* Espaciado entre botones */
    font-size: 35px; /* Tamaño de fuente adecuado */
    font-family: "Lexend", sans-serif;
    font-weight: 250;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    cursor: pointer; /* Cambia el cursor a 'mano' cuando el usuario pase sobre ellos */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */

}

button:hover{
    color: #f8af07;
}

/*Se dan propiedades a la barra donde esta el icono y demas elementos*/
.barra2{
    background-color:#fff4da;
    width: 100%;
    height: 80px;
    position: fixed;/*Hace qur la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 0%;
    z-index: 10;
}

#icono{
    height: 110px;
    margin-left: -2%;
    margin-top: -2%;
}

.ayuda{
    text-decoration: none;
    font-size: 150%;
    font-weight: 270;
    color: #200f06;
    font-family:"Lexend", sans-serif;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    margin-left: 1250%;
}

.ayuda:hover{
    color: #ffffff;
}


#mensajes2{
    color: #200f06;
    font-size: 400%;
    font-weight: 200;
    transform: translateX(1100px) translateY(20%);
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#mensajes2:hover{
    color: #f8af07;
}

#inicio2{
    text-decoration: none;
    font-size: 150%;
    color: #200f06;
    font-family:"Lexend", sans-serif;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    font-weight: 270;
    margin-left: 1500%;
}

#inicio2:hover{
    color: #ffffff;
}

        /*Creacion del encabezado con imagen de fondo*/

/* Estilos para el encabezado */
.encabezado{
    background-image: url(tdah.img/mujer.webp);
    background-size: cover;
    background-position-y:70%; 
    height:400px;
    opacity: 95%;
    transform: translateY(2.5%);
    z-index: 100;
    
}

/*Palabra de tdah en adolescentes*/
#palabra{
    font-size: 600%;
    color: beige;
    margin-left: 15%;
    transform: translateY(28%);
    opacity: 100%;
    font-family: "Lexend", sans-serif  ;
    text-shadow: 4px 4px 10px black;
}

     /*Menu de padecimientos*/
     
/* Estilos para el boton donde  donde se veran varios padecimientos*/
.hamburger-btn{
    height: 115px;
    width: 7%;
    z-index: 8;
    position: fixed;
    margin-left: -4%;
    transform: translateY(-190%) translateX(-50%);
    background-color: #eddab1;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    border: 1px solid #222;
    border-radius: 30%;
}

/*Hover del boton*/
.hamburger-btn:hover{
    background-color: #c7a660;
}

/*Mueve la flecha del boton*/
#picar{
    height: 40%;
    transform: translateX(80%);
 }

/*Propiedades del submenu en la izquierda*/
#padecimientos{
    width: 14%;
    height: 450px;
    background-color:#fbf6d9;
    top: 25%;
    left: -2%;
    position:fixed;
    z-index: 9;
    border-radius: 5%;
    transition: left 0.3s ease; /* Transición suave al mover el menú */
}

/* Estilos que utilizan todas las ventanas del submenu*/
.ventana2{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 180%;
    font-weight: 300;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    color:#080808;
    display: block; /* Hace que los enlaces ocupen toda la anchura disponible para mejorar la usabilidad */
}

.ventana2:hover{
    background-color: #c9ab69;
    color: #f9f9f9 ;
    height:40px;
 }

/*Cerrar el menu boton*/
.cerrar2{
    font-size: 30px; /* Tamaño del icono o texto del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */
    color: black;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    width: 30%;
    margin-top: 10%;
    transform: translateX(130%);
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    display: block;
}

.cerrar2:hover{
    background-color: #c9ab69;
    color: #e0d8cd;
    border-radius: 9%;
}


/* Clase que activa el menú */
.padecimientos.active {
    margin-left: 0%; /* Mueve el menú a la posición visible cuando se activa */
}

/*Clase que desactiva el menu*/
.padecimientos.disabled{
    margin-left: -90%;
}

#pagina1{
    width: 60%;
    margin-left: 23%;
    margin-top: 5%;
}

#pagina{
    display: flex;
    list-style: none;

}

#pagina li{
    padding: 2%;
}

#pagina li a{
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#pagina li a:hover{
    color: #ecad24;
}

.ventanas{
    text-decoration: none;
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #080808;
    text-align: center;
}


/*Contenido*/


/*Caracteristicas del div de la primera parte*/
#parte1{
    padding: 5%;
    background-color: #ffffff;
    z-index: 1000;
}

/*Caracteristicas de la palabra Qué es... en el 1er div*/
.palabra1{
    font-size: 230%;
    font-family:  "DM Sans", sans-serif;
    margin-left: 10%; 
    font-weight: 600;   
}
/*Caracteristicas del primer parrafo en la 1era division*/
.parrafo1{
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    transform: translateY(-10%);
    justify-content: center;
}
/*Propiedades para la zona donde explica los tipos que hay en la 1era division*/
.tipos1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos1 .tipos2{
    position: relative;
    width: 320px;
    height: 300px;
    background-color: #FEFAF8;
    border: 2px solid rgba(23, 23, 23, 0.1);
    box-shadow: 0 25px 25px rgba(95, 94, 94, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 8px;
    transition: all 0.3s ease;
    
}

.tipos1 .tipos2:hover{
    transform: translateY(-5px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

.tipos3{
    display: inline-block;
    transform: translateY(-25%);
    font-family: "DM Sans", sans-serif;
}

.tipos1 p{
    font-size: 120%;
    font-weight: 280;
    justify-content: center;
    padding: 6%;
}


          /* Segunda division (2do div) */


/*Le da caracteristicas al segundo div*/
#parte2{
    background-color: #f5f5ed;
    height: 800px;
}

/*Caracteristicas de la imagen en el segundo apartado (el cerebro)*/
#imagen2{
    margin-top: -2%;
}

/*Caracteristica de la palabra ¿Por qué se causa? */
#palabra2{
    text-align: center;
    font-size: 230%;
    font-family:  "DM Sans", sans-serif;
    margin-left: 30%;
    transform: translateY(250%);
    font-weight: 600;
}

/*Caracteristica del pequeño parrafo en el segundo apartado*/
#parrafo2{
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    margin-left: 40%;
    margin-top: -43%;
    padding-left: 10%;
    padding-right: 5%;
    z-index: 10%;
    justify-content: center;
    font-weight: 300;
}

#lista1{
    margin-left: 40%;
    margin-top: 5%;
    list-style: none;
}

#lista1 li{
    transform: translateY(-160%) translateX(20%);
    font-family: "DM Sans", sans-serif;
    font-size: 200%;
    color: #0063cc;
}

#personas1{
    transform: translateY(-70%) translateX(180%);
}

#lista2{
    margin-left: 66%;
    margin-top: -21%;
    list-style: none;
}

#lista2 li{
    font-family: "DM Sans", sans-serif;
    font-size: 200%;
    color: #0063cc;
}

#icono2{
    transform: translateY(-50%);
}

#letras1{
    transform: translateY(-100%) translateX(40%);
}
#letras{
    transform: translateY(-260%) translateX(30%);
}
    /*Tercera division (3er div)*/

/*Le agrega caracteristicas a la palabra de ¿Cómo saber...*/
#palabra3{
    text-align: left;
    font-size: 230%;
    font-family:  "DM Sans", sans-serif;
    margin-top: -35%;
    padding: 5%;
    margin-left: 10%;
    font-weight: 600;

}
/*Propiedades del parrafo*/
#parrafo3{
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    justify-content: center;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: -6%;
    transform: translateX(10%);
}

#deslizar{
    transform: translateY(230px) translateX(1200px);
}
#lista3{
    font-size: 80%;
    font-family: "DM Sans", sans-serif; 
}

/*Propiedades generales de todo el contenedor de la parte donde se podra hacer scroll*/
.contenedor {
    width: 800px;
    height: 400px;
    border: 1px solid #222;
    border-radius: 2%;
    font-size: 200%;
    color: #080808;
    background-color: #f9f9f9;
    padding: 10px;
    overflow-y: scroll;/*Se agrega para que la lista no se desborde y solo aparezca la barra de desplazamiento en vertical */
    transform: translateY(4%) translateX(40%);
    box-shadow: 0 25px 25px rgba(147, 147, 147, 0.25);
    transition: 0.5s;
  }

  .contenedor:hover{
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  }

  /* Utilizamos webkit para dar propiedades exactas a la barra de desplazamiento*/

  /*Hace visible la barra de desplazar y le agrega una anchura*/
  .contenedor::-webkit-scrollbar {
    width: 30px;
  }
  /*Le cambia el fondo de donde esta la barra de desplazamiento*/
  .contenedor::-webkit-scrollbar-track {
    background: #c6d1d9;
  }
  /*cambia el thumb que desplaza*/
  .contenedor::-webkit-scrollbar-thumb {
    background: #67869A;
  }
  /*Agregamos un efecto hover al thumb para que resalte que lo esta seleccionando*/
  .contenedor::-webkit-scrollbar-thumb:hover{
    background: #2F4156;
  }

    /*Creacion de la 4ta ventana*/

#parte4{
    margin-top: 15%;
    background-color: #f5f5ed;
    height: 850px;
}

#palabra4{
    text-align: center;
    font-size: 230%;
    margin-right: 2%;
    padding-top: 10%;
    font-family:  "DM Sans", sans-serif;
    font-weight: 600;
}

/*Propiedades del div que contiene todo de todo*/
.cuadros {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /*Propiedades de cada cuadro que se despliega*/
  .cuadros .cuadro {
    position: relative;
    width: 400px;
    height: 395px;
    background-color: #f8f8ec;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(114, 113, 113, 0.25);
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 5% -55px;
    
  }
  
  .cuadros:hover .cuadro {
    margin: 5% 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  }
  
  .cuadros h2{
    margin-top: 15%;
    font-size: 190%;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #040505;
  }

  .cuadros p{
    font-size: 130%;
    font-family: "DM Sans", sans-serif;
    font-weight: 350;
    padding: 2%;
  }

  .cuadros p a{
    color: #27103b;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/

  }

  .cuadros a:hover{
    color: #c4c9ce;
  }


 /*PIE PAGINA*/

#pie {/*Propiedades del footer*/
    background-color: #F1Eada;
    height: 400px;
    width: 107%;
    margin-top: 6%;
    margin-left: -4%;
}


#pieFrase{/*Propiedades de la palabra "Amor de padres" en el footer*/
    font-size: 190%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 450;
    text-align: left;
    transform: translateY(90%);
    margin-left: 6%;
}

#pieparra{
    font-size: 120%;
    font-family: "DM Sans", sans-serif;
    text-align:left;
    justify-content: center;
    margin-left: 6%;
    margin-top: -8%;
    opacity: 70%;
    font-weight: 300;
    width: 25%;
}

#seguir{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

#servicio{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

#redess{
    font-size: 150%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 400;
}

.p1{
    font-size: 120%;
    opacity: 80%;
    font-family:"DM Sans", sans-serif;
    font-weight: 400;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

.p1:hover{
    color: #d69601;
}

#p2{
    color: #0a0808;
    text-decoration: none;
}

#p2:hover{
    color: #d69601;
}

/* agrega el estilo al segundo pie de cabeza*/
#parte5{
    background-color: #cec1a8;
    height: 20%;
    margin-top: 10%;
}

/*Agrega los iconos de facebook y bitacora*/
#lista4{
   display: flex;
   list-style: none;
   margin-left: 80%;
}

/*icono de la bitacora*/
#bitacora{
    height: 75%;
    opacity: 60%;
    margin-top: 15%;
    margin-left: 25%;
}

/*Icono facebook*/
#facebook{
    height: 70%;
    margin-top: 40%;
    opacity: 60%;
}

#insta{
    margin-top: 20%;
    height: 90%;
    opacity: 60%;
}


.Copyright{/*Agrega el copyright en el footer*/
    font-size: 130%;
    opacity: 50%;
    font-family:"Lexend", sans-serif;
    font-weight: 300;
    margin-left: 681px;
    margin-top: 10%;
}

